<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
        <h1>This is a trivia...</h1>
        <h3>Question :</h3>
        <p><%= trivia[0]["question"] %></p>

        <p>***This feature is still in production***</p>
        <form action="/" class = "form" method="post">
                <input type ="text">
        </form>
        <p>***This feature is still in production***</p>
        
        <h3>Answer :</h3>
        <p><%= trivia[0]["correct_answer"] %></p>
        <script src="../test.js"></script>   
</body>
</html>


